<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="css/style-home.css">
    <title>Veridi Oculi</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="text">
                <h1>Laudos de flora a um clique</h1>
                <p>Identifique espécies em risco de extinção a partir de imagens aéreas.</p>
            </div>
            <div class="cards">
                <div class="card-01">
                    <img class="img" src="imgs/tela_diagnostico_detalhado_antigo.png" alt="">
                </div>
                <div class="card-02">
                    <img class="img" src="imgs/tela_historico_de_pesquisa (1).png" alt="">
                </div>
                <div class="card-03">
                    <img class="img" src="imgs/tela_subir_imagem.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <footer>
        Todos os direitos reservados VeridiOculi®.
    </footer>
</body>
</html>